.frequent-questions__accordeon-item__input {
    position: absolute;
    top: 35px;
    left: 50px;
    width: 32px;
    height: 26px;
    
    
}

.frequent-questions__accordeon-item__input:checked ~ .frequent-questions__accordeon-item__trigger {

}

.frequent-questions__accordeon-item__input:checked ~ .frequent-questions__accordeon-item__content {
    display: block;
}